NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://raw.githubusercontent.com/xAthen/A4NationalParks/main/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="NationalParks">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NationalPark" minOccurs="1"  maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="Phone" type="xs:string" minOccurs="1"  maxOccurs="unbounded" />
							<xs:element name="Address" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Number" type="xs:string" minOccurs="1" maxOccurs="1" />
										<xs:element name="Street" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="City" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="State" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="Zip" type="xs:string" minOccurs="1" maxOccurs="1"/>
									</xs:sequence>
									<xs:attribute name="NearestAirport" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Rating" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
